$color_1: #444444;
$color_2: #4154f1;
$color_3: #717ff5;
$color_4: #433589;
$color_5: #fff;
$color_6: #8894f6;
$color_7: #36378a;
$color_8: #734b96;
$color_9: #0b198f;
$color_10: #0245bc;
$color_11: #848484;
$color_12: #2db6fa;
$color_13: #282828;
$color_14: #f68c09;
$color_15: #08da4e;
$color_16: #e9222c;
$color_17: #b50edf;
$color_18: #f51f9c;
$color_19: #bababa;
$color_20: #ccc;
$color_21: #ffc107;
$color_22: #111;
$color_23: #999;
$color_24: rgba(1, 41, 112, 0.5);
$color_25: rgba(1, 41, 112, 0.8);
$color_26: #aaaaaa;
$color_27: #5e5e5e;
$color_28: rgba(1, 41, 112, 0.6);
$color_29: #4084fd;
$color_30: #777777;
$color_31: #0d64fd;
$color_32: #6c757d;
$color_33: #b7b7b7;
$color_34: #013ca3;
$color_35: #024ed5;
$color_36: #0257ee;
$color_37: #a5c5fe;
$color_38: #d0d4fc;
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: "Omnes Semibold";
$font-family_3: "Nunito", sans-serif;
$font-family_4: "Poppins", sans-serif;
$background-color_1: #fff;
$background-color_2: #f6f9ff;
$background-color_3: #4154f1;
$background-color_4: #fafafa;
$background-color_5: #433589;
$background-color_6: #734b96;
$border-color_1: #4154f1;
$border-color_2: #a0aaf8;
$border-top-color_1: #eee;


@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

body {
	font-family: $font-family_1;
	color: $color_1;
}
a {
	color: $color_2;
	text-decoration: none;
	&:hover {
		color: $color_3;
		text-decoration: none;
	}
}
h1 {
	font-family: $font-family_1;
}
h2 {
	font-family: $font-family_1;
}
h3 {
	font-family: $font-family_1;
}
h4 {
	font-family: $font-family_1;
}
h5 {
	font-family: $font-family_1;
}
h6 {
	font-family: $font-family_1;
}
section {
	padding: 60px 0;
	overflow: hidden;
}
.section-header {
	text-align: center;
	padding-bottom: 40px;
	h2 {
		font-size: 13px;
		letter-spacing: 1px;
		font-weight: 700;
		margin: 0;
		color: $color_2;
		text-transform: uppercase;
	}
	p {
		margin: 10px 0 0 0;
		padding: 0;
		font-size: 38px;
		line-height: 42px;
		font-weight: 700;
		color: $color_4;
	}
}
.breadcrumbs {
	padding: 15px 0;
	background: #433589;
	min-height: 40px;
	margin-top: 82px;
	color: $color_5;
	h2 {
		font-size: 28px;
		font-weight: 500;
	}
	ol {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0 0 10px 0;
		margin: 0;
		font-size: 14px;
		a {
			color: $color_5;
			transition: 0.3s;
			&:hover {
				text-decoration: underline;
			}
		}
		li {
			+ {
				li {
					padding-left: 10px;
					&::before {
						display: inline-block;
						padding-right: 10px;
						color: $color_6;
						content: "/";
					}
				}
			}
		}
	}
}
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
	background: #4154f1;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
	i {
		font-size: 24px;
		color: $color_5;
		line-height: 0;
	}
	&:hover {
		background: #6776f4;
		color: $color_5;
	}
}
.back-to-top.active {
	visibility: visible;
	opacity: 1;
}
.header {
	transition: all 0.5s;
	z-index: 997;
	padding: 20px 0;
	.logo {
		line-height: 0;
		img {
			max-height: 40px;
			margin-right: 6px;
		}
		span {
			font-size: 30px;
			font-weight: 700;
			letter-spacing: 1px;
			color: $color_7;
			font-family: $font-family_2;
			margin-top: 3px;
		}
	}
}
.header.header-scrolled {
	background: #fff;
	padding: 15px 0;
	box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}
.navbar {
	padding: 0;
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		align-items: center;
	}
	li {
		position: relative;
		&:hover {
			>a {
				color: $color_2;
			}
		}
	}
	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0 10px 30px;
		font-family: $font-family_3;
		font-size: 16px;
		font-weight: 700;
		color: $color_8;
		white-space: nowrap;
		transition: 0.3s;
		&:focus {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 0 10px 30px;
			font-family: $font-family_3;
			font-size: 16px;
			font-weight: 700;
			color: $color_8;
			white-space: nowrap;
			transition: 0.3s;
			i {
				font-size: 12px;
				line-height: 0;
				margin-left: 5px;
			}
		}
		i {
			font-size: 12px;
			line-height: 0;
			margin-left: 5px;
		}
		&:hover {
			color: $color_2;
		}
	}
	.active {
		color: $color_2;
		&:focus {
			color: $color_2;
		}
	}
	.getstarted {
		background: #4154f1;
		padding: 8px 20px;
		margin-left: 30px;
		border-radius: 4px;
		color: $color_5;
		&:focus {
			background: #4154f1;
			padding: 8px 20px;
			margin-left: 30px;
			border-radius: 4px;
			color: $color_5;
			&:hover {
				color: $color_5;
				background: #5969f3;
			}
		}
		&:hover {
			color: $color_5;
			background: #5969f3;
		}
	}
	.dropdown {
		ul {
			display: block;
			position: absolute;
			left: 14px;
			top: calc(100% + 30px);
			margin: 0;
			padding: 10px 0;
			z-index: 99;
			opacity: 0;
			visibility: hidden;
			background: #fff;
			box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
			transition: 0.3s;
			border-radius: 4px;
			li {
				min-width: 200px;
				&:hover {
					>a {
						color: $color_2;
					}
				}
			}
			a {
				padding: 10px 20px;
				font-size: 15px;
				text-transform: none;
				font-weight: 600;
				i {
					font-size: 12px;
				}
				&:hover {
					color: $color_2;
				}
			}
			.active {
				&:hover {
					color: $color_2;
				}
			}
		}
		&:hover {
			>ul {
				opacity: 1;
				top: 100%;
				visibility: visible;
			}
		}
		.dropdown {
			ul {
				top: 0;
				left: calc(100% - 30px);
				visibility: hidden;
			}
			&:hover {
				>ul {
					opacity: 1;
					top: 0;
					left: 100%;
					visibility: visible;
				}
			}
		}
	}
}
.mobile-nav-toggle {
	color: $color_4;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
	color: $color_5;
}
.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(1, 22, 61, 0.9);
	transition: 0.3s;
	.mobile-nav-toggle {
		position: absolute;
		top: 15px;
		right: 15px;
	}
	ul {
		display: block;
		position: absolute;
		top: 55px;
		right: 15px;
		bottom: 15px;
		left: 15px;
		padding: 10px 0;
		border-radius: 10px;
		background-color: $background-color_1;
		overflow-y: auto;
		transition: 0.3s;
	}
	a {
		padding: 10px 20px;
		font-size: 15px;
		color: $color_4;
		&:focus {
			padding: 10px 20px;
			font-size: 15px;
			color: $color_4;
		}
		&:hover {
			color: $color_2;
		}
	}
	.active {
		color: $color_2;
	}
	li {
		&:hover {
			>a {
				color: $color_2;
			}
		}
	}
	.getstarted {
		margin: 15px;
		&:focus {
			margin: 15px;
		}
	}
	.dropdown {
		ul {
			position: static;
			display: none;
			margin: 10px 20px;
			padding: 10px 0;
			z-index: 99;
			opacity: 1;
			visibility: visible;
			background: #fff;
			box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
			li {
				min-width: 200px;
				&:hover {
					>a {
						color: $color_2;
					}
				}
			}
			a {
				padding: 10px 20px;
				i {
					font-size: 12px;
				}
				&:hover {
					color: $color_2;
				}
			}
			.active {
				&:hover {
					color: $color_2;
				}
			}
		}
		>.dropdown-active {
			display: block;
		}
	}
}
.hero {
	width: 100%;
	height: 100vh;
	background: url(../img/hero-bg.png) top center no-repeat;
	background-size: cover;
	h1 {
		margin: 0;
		font-size: 48px;
		font-weight: 700;
		color: $color_4;
	}
	h2 {
		font-size: 24px;
		font-weight: 700;
		color: $color_4;
	}
	h3 {
		font-size: 20px;
		font-weight: 700;
		color: $color_4;
	}
	.btn-get-started {
		margin-top: 30px;
		line-height: 0;
		padding: 15px 40px;
		border-radius: 4px;
		transition: 0.5s;
		color: $color_5;
		background: #4154f1;
		box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
		span {
			font-family: $font-family_3;
			font-weight: 600;
			font-size: 16px;
			letter-spacing: 1px;
		}
		i {
			margin-left: 5px;
			font-size: 18px;
			transition: 0.3s;
		}
		&:hover {
			i {
				transform: translateX(5px);
			}
		}
	}
	.hero-img {
		text-align: right;
	}
}
.about {
	.content {
		background-color: $background-color_2;
		padding: 40px;
	}
	h1 {
		margin: 0;
		font-size: 48px;
		font-weight: 700;
		color: $color_4;
	}
	h3 {
		font-size: 14px;
		font-weight: 700;
		color: $color_2;
		text-transform: uppercase;
	}
	h2 {
		font-size: 24px;
		font-weight: 700;
		color: $color_4;
	}
	p {
		margin: 15px 0 30px 0;
		line-height: 24px;
	}
	.btn-read-more {
		line-height: 0;
		padding: 15px 40px;
		border-radius: 4px;
		transition: 0.5s;
		color: $color_5;
		background: #4154f1;
		box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
		span {
			font-family: $font-family_3;
			font-weight: 600;
			font-size: 16px;
			letter-spacing: 1px;
		}
		i {
			margin-left: 5px;
			font-size: 18px;
			transition: 0.3s;
		}
		&:hover {
			i {
				transform: translateX(5px);
			}
		}
	}
}
.values {
	.box {
		padding: 30px;
		box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
		text-align: center;
		transition: 0.3s;
		height: 100%;
		img {
			padding: 30px 50px;
			transition: 0.5s;
			transform: scale(1.1);
		}
		h3 {
			font-size: 24px;
			color: $color_4;
			font-weight: 700;
			margin-bottom: 18px;
		}
		&:hover {
			box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
			img {
				transform: scale(1);
			}
		}
	}
}
.counts {
	padding: 70px 0 60px;
	.count-box {
		display: flex;
		align-items: center;
		padding: 30px;
		width: 100%;
		background: #fff;
		box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
		i {
			font-size: 42px;
			line-height: 0;
			margin-right: 20px;
			color: $color_2;
		}
		span {
			font-size: 36px;
			display: block;
			font-weight: 600;
			color: $color_9;
		}
		p {
			padding: 0;
			margin: 0;
			font-family: $font-family_3;
			font-size: 14px;
		}
	}
}
.features {
	.feature-box {
		padding: 24px 20px;
		box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
		transition: 0.3s;
		height: 100%;
		h3 {
			font-size: 18px;
			color: $color_4;
			font-weight: 700;
			margin: 0;
		}
		i {
			line-height: 0;
			background: #ecf3ff;
			padding: 4px;
			margin-right: 10px;
			font-size: 24px;
			border-radius: 3px;
			transition: 0.3s;
		}
		&:hover {
			i {
				background: #4154f1;
				color: $color_5;
			}
		}
	}
	.feture-tabs {
		margin-top: 120px;
		h3 {
			color: $color_4;
			font-weight: 700;
			font-size: 32px;
			margin-bottom: 10px;
		}
		.nav-pills {
			border-bottom: 1px solid #eee;
		}
		.nav-link {
			background: none;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 600;
			color: $color_4;
			padding: 12px 0;
			margin-right: 25px;
			margin-bottom: -2px;
			border-radius: 0;
		}
		.nav-link.active {
			color: $color_2;
			border-bottom: 3px solid #4154f1;
		}
		.tab-content {
			h4 {
				font-size: 18px;
				margin: 0;
				font-weight: 700;
				color: $color_4;
			}
			i {
				font-size: 24px;
				line-height: 0;
				margin-right: 8px;
				color: $color_2;
			}
		}
	}
	.feature-icons {
		margin-top: 120px;
		h3 {
			color: $color_4;
			font-weight: 700;
			font-size: 32px;
			margin-bottom: 20px;
			text-align: center;
		}
		.content {
			.icon-box {
				display: flex;
				h4 {
					font-size: 20px;
					font-weight: 700;
					margin: 0 0 10px 0;
					color: $color_4;
				}
				i {
					font-size: 44px;
					line-height: 44px;
					color: $color_10;
					margin-right: 15px;
				}
				p {
					font-size: 15px;
					color: $color_11;
				}
			}
		}
	}
}
.services {
	.service-box {
		box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
		height: 100%;
		padding: 60px 30px;
		text-align: center;
		transition: 0.3s;
		border-radius: 5px;
		.icon {
			font-size: 36px;
			padding: 40px 20px;
			border-radius: 4px;
			position: relative;
			margin-bottom: 25px;
			display: inline-block;
			line-height: 0;
			transition: 0.3s;
		}
		h3 {
			color: $color_1;
			font-weight: 700;
		}
		.read-more {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-weight: 600;
			font-size: 16px;
			padding: 8px 20px;
			i {
				line-height: 0;
				margin-left: 5px;
				font-size: 18px;
			}
		}
		&:hover {
			h3 {
				color: $color_5;
			}
			p {
				color: $color_5;
			}
			.read-more {
				color: $color_5;
			}
			.icon {
				background: #fff;
			}
		}
	}
	.service-box.blue {
		border-bottom: 3px solid #2db6fa;
		.icon {
			color: $color_12;
			background: #dbf3fe;
		}
		.read-more {
			color: $color_12;
		}
		&:hover {
			background: #2db6fa;
		}
	}
	.service-box.black {
		border-bottom: 3px solid #282828;
		.icon {
			color: $color_13;
			background: #eaeaea;
		}
		.read-more {
			color: $color_13;
		}
		&:hover {
			background: #282828;
		}
	}
	.service-box.orange {
		border-bottom: 3px solid #f68c09;
		.icon {
			color: $color_14;
			background: #fde3c4;
		}
		.read-more {
			color: $color_14;
		}
		&:hover {
			background: #f68c09;
		}
	}
	.service-box.green {
		border-bottom: 3px solid #08da4e;
		.icon {
			color: $color_15;
			background: #cffddf;
		}
		.read-more {
			color: $color_15;
		}
		&:hover {
			background: #08da4e;
		}
	}
	.service-box.red {
		border-bottom: 3px solid #e9222c;
		.icon {
			color: $color_16;
			background: #fef7f8;
		}
		.read-more {
			color: $color_16;
		}
		&:hover {
			background: #e9222c;
		}
	}
	.service-box.purple {
		border-bottom: 3px solid #b50edf;
		.icon {
			color: $color_17;
			background: #f8e4fd;
		}
		.read-more {
			color: $color_17;
		}
		&:hover {
			background: #b50edf;
		}
	}
	.service-box.pink {
		border-bottom: 3px solid #f51f9c;
		.icon {
			color: $color_18;
			background: #feecf7;
		}
		.read-more {
			color: $color_18;
		}
		&:hover {
			background: #f51f9c;
		}
	}
}
.pricing {
	.box {
		padding: 40px 20px;
		background: #fff;
		text-align: center;
		box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
		border-radius: 4px;
		position: relative;
		overflow: hidden;
		transition: 0.3s;
		&:hover {
			transform: scale(1.1);
			box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
		}
	}
	h3 {
		font-weight: 700;
		font-size: 18px;
		margin-bottom: 15px;
	}
	.price {
		font-size: 36px;
		color: $color_1;
		font-weight: 600;
		font-family: $font-family_4;
		sup {
			font-size: 20px;
			top: -15px;
			left: -3px;
		}
		span {
			color: $color_19;
			font-size: 16px;
			font-weight: 300;
		}
	}
	img {
		padding: 30px 40px;
	}
	ul {
		padding: 0;
		list-style: none;
		color: $color_1;
		text-align: center;
		line-height: 26px;
		font-size: 16px;
		margin-bottom: 25px;
		li {
			padding-bottom: 10px;
		}
		.na {
			color: $color_20;
			text-decoration: line-through;
		}
	}
	.btn-buy {
		display: inline-block;
		padding: 8px 40px 10px 40px;
		border-radius: 50px;
		color: $color_2;
		transition: none;
		font-size: 16px;
		font-weight: 400;
		font-family: $font-family_3;
		font-weight: 600;
		transition: 0.3s;
		border: 1px solid #4154f1;
		&:hover {
			background: #4154f1;
			color: $color_5;
		}
	}
	.featured {
		width: 200px;
		position: absolute;
		top: 18px;
		right: -68px;
		transform: rotate(45deg);
		z-index: 1;
		font-size: 14px;
		padding: 1px 0 3px 0;
		background: #4154f1;
		color: $color_5;
	}
}
.faq {
	.accordion-collapse {
		border: 0;
	}
	.accordion-button {
		padding: 15px 15px 20px 0;
		font-weight: 600;
		border: 0;
		font-size: 18px;
		color: $color_1;
		text-align: left;
		&:focus {
			box-shadow: none;
		}
		&:not(.collapsed) {
			background: none;
			color: $color_2;
			border-bottom: 0;
		}
	}
	.accordion-body {
		padding: 0 0 25px 0;
		border: 0;
	}
}
.portfolio {
	#portfolio-flters {
		padding: 0;
		margin: 0 auto 25px auto;
		list-style: none;
		text-align: center;
		background: white;
		border-radius: 50px;
		padding: 2px 15px;
		li {
			cursor: pointer;
			display: inline-block;
			padding: 8px 20px 10px 20px;
			font-size: 15px;
			font-weight: 600;
			line-height: 1;
			color: $color_1;
			margin: 0 4px 8px 4px;
			transition: 0.3s;
			border-radius: 50px;
			border: 1px solid #fff;
			&:hover {
				color: $color_2;
				border-color: $border-color_1;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		li.filter-active {
			color: $color_2;
			border-color: $border-color_1;
		}
	}
	.portfolio-wrap {
		transition: 0.3s;
		position: relative;
		overflow: hidden;
		z-index: 1;
		background: rgba(255, 255, 255, 0.75);
		&::before {
			content: "";
			background: rgba(255, 255, 255, 0.75);
			position: absolute;
			left: 30px;
			right: 30px;
			top: 30px;
			bottom: 30px;
			transition: all ease-in-out 0.3s;
			z-index: 2;
			opacity: 0;
		}
		img {
			transition: 1s;
		}
		.portfolio-info {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			z-index: 3;
			transition: all ease-in-out 0.3s;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&::before {
				display: block;
				content: "";
				width: 48px;
				height: 48px;
				position: absolute;
				top: 35px;
				left: 35px;
				border-top: 3px solid rgba(1, 41, 112, 0.2);
				border-left: 3px solid rgba(1, 41, 112, 0.2);
				transition: all 0.5s ease 0s;
				z-index: 9994;
			}
			&::after {
				display: block;
				content: "";
				width: 48px;
				height: 48px;
				position: absolute;
				bottom: 35px;
				right: 35px;
				border-bottom: 3px solid rgba(1, 41, 112, 0.2);
				border-right: 3px solid rgba(1, 41, 112, 0.2);
				transition: all 0.5s ease 0s;
				z-index: 9994;
			}
			h4 {
				font-size: 20px;
				color: $color_4;
				font-weight: 700;
			}
			p {
				color: $color_4;
				font-weight: 600;
				font-size: 14px;
				text-transform: uppercase;
				padding: 0;
				margin: 0;
			}
		}
		.portfolio-links {
			text-align: center;
			z-index: 4;
			a {
				color: $color_5;
				background: #4154f1;
				margin: 10px 2px;
				width: 36px;
				height: 36px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				transition: 0.3s;
				i {
					font-size: 24px;
					line-height: 0;
				}
				&:hover {
					background: #5969f3;
				}
			}
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
			&::before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 1;
			}
			.portfolio-info {
				opacity: 1;
				&::before {
					top: 15px;
					left: 15px;
				}
				&::after {
					bottom: 15px;
					right: 15px;
				}
			}
		}
	}
}
.portfolio-details {
	padding-top: 40px;
	.portfolio-details-slider {
		img {
			width: 100%;
		}
		.swiper-pagination {
			margin-top: 20px;
			position: relative;
			.swiper-pagination-bullet {
				width: 12px;
				height: 12px;
				background-color: $background-color_1;
				opacity: 1;
				border: 1px solid #4154f1;
			}
			.swiper-pagination-bullet-active {
				background-color: $background-color_3;
			}
		}
	}
	.portfolio-info {
		padding: 30px;
		box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
		h3 {
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		ul {
			list-style: none;
			padding: 0;
			font-size: 15px;
			li {
				+ {
					li {
						margin-top: 10px;
					}
				}
			}
		}
	}
	.portfolio-description {
		padding-top: 30px;
		h2 {
			font-size: 26px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		p {
			padding: 0;
		}
	}
}
.testimonials {
	.testimonial-item {
		box-sizing: content-box;
		padding: 30px;
		margin: 40px 30px;
		box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
		background: #fff;
		min-height: 320px;
		display: flex;
		flex-direction: column;
		text-align: center;
		transition: 0.3s;
		.stars {
			margin-bottom: 15px;
			i {
				color: $color_21;
				margin: 0 1px;
			}
		}
		.testimonial-img {
			width: 90px;
			border-radius: 50%;
			border: 4px solid #fff;
			margin: 0 auto;
		}
		h3 {
			font-size: 18px;
			font-weight: bold;
			margin: 10px 0 5px 0;
			color: $color_22;
		}
		h4 {
			font-size: 14px;
			color: $color_23;
			margin: 0;
		}
		p {
			font-style: italic;
			margin: 0 auto 15px auto;
		}
	}
	.swiper-pagination {
		margin-top: 20px;
		position: relative;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			background-color: $background-color_1;
			opacity: 1;
			border: 1px solid #4154f1;
		}
		.swiper-pagination-bullet-active {
			background-color: $background-color_3;
		}
	}
	.swiper-slide {
		opacity: 0.3;
	}
}
.team {
	background: #fff;
	padding: 10px 0;
	.member {
		overflow: hidden;
		text-align: center;
		border-radius: 5px;
		background: #fff;
		box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
		transition: 0.3s;
		.member-img {
			position: relative;
			overflow: hidden;
			&:after {
				position: absolute;
				content: "";
				left: 0;
				bottom: 0;
				height: 100%;
				width: 100%;
				background: url(../img/team-shape.svg) no-repeat center bottom;
				background-size: contain;
				z-index: 1;
			}
		}
		.social {
			position: absolute;
			right: -100%;
			top: 30px;
			opacity: 0;
			border-radius: 4px;
			transition: 0.5s;
			background: rgba(255, 255, 255, 0.3);
			z-index: 2;
			a {
				transition: color 0.3s;
				color: $color_24;
				margin: 15px 12px;
				display: block;
				line-height: 0;
				text-align: center;
				&:hover {
					color: $color_25;
				}
			}
			i {
				font-size: 18px;
			}
		}
		.member-info {
			padding: 10px 15px 20px 15px;
			h4 {
				font-weight: 700;
				margin-bottom: 5px;
				font-size: 20px;
				color: $color_4;
			}
			span {
				display: block;
				font-size: 14px;
				font-weight: 400;
				color: $color_26;
			}
			p {
				font-style: italic;
				font-size: 14px;
				padding-top: 15px;
				line-height: 26px;
				color: $color_27;
			}
		}
		&:hover {
			transform: scale(1.08);
			box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
			.social {
				right: 8px;
				opacity: 1;
			}
		}
	}
}
.clients {
	.clients-slider {
		.swiper-slide {
			img {
				opacity: 0.5;
				transition: 0.3s;
				&:hover {
					opacity: 1;
				}
			}
		}
		.swiper-pagination {
			margin-top: 20px;
			position: relative;
			.swiper-pagination-bullet {
				width: 12px;
				height: 12px;
				background-color: $background-color_1;
				opacity: 1;
				border: 1px solid #4154f1;
			}
			.swiper-pagination-bullet-active {
				background-color: $background-color_3;
			}
		}
	}
}
.recent-blog-posts {
	.post-box {
		box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
		transition: 0.3s;
		height: 100%;
		overflow: hidden;
		padding: 30px;
		border-radius: 8px;
		position: relative;
		display: flex;
		flex-direction: column;
		.post-img {
			overflow: hidden;
			margin: -30px -30px 15px -30px;
			position: relative;
			img {
				transition: 0.5s;
			}
		}
		.post-date {
			font-size: 16px;
			font-weight: 600;
			color: $color_28;
			display: block;
			margin-bottom: 10px;
		}
		.post-title {
			font-size: 24px;
			color: $color_4;
			font-weight: 700;
			margin-bottom: 18px;
			position: relative;
			transition: 0.3s;
		}
		.readmore {
			display: flex;
			align-items: center;
			font-weight: 600;
			line-height: 1;
			transition: 0.3s;
			i {
				line-height: 0;
				margin-left: 4px;
				font-size: 18px;
			}
		}
		&:hover {
			.post-title {
				color: $color_2;
			}
			.post-img {
				img {
					transform: rotate(6deg) scale(1.2);
				}
			}
		}
	}
}
.contact {
	.info-box {
		color: $color_1;
		padding: 30px;
		i {
			font-size: 38px;
			line-height: 0;
			color: $color_2;
		}
		h3 {
			font-size: 20px;
			color: $color_4;
			font-weight: 700;
			margin: 20px 0 10px 0;
		}
		p {
			padding: 0;
			line-height: 24px;
			font-size: 14px;
			margin-bottom: 0;
		}
	}
	.php-email-form {
		background: #fafbff;
		padding: 30px;
		height: 100%;
		.error-message {
			display: none;
			color: $color_5;
			background: #ed3c0d;
			text-align: left;
			padding: 15px;
			margin-bottom: 24px;
			font-weight: 600;
		}
		.sent-message {
			display: none;
			color: $color_5;
			background: #18d26e;
			text-align: center;
			padding: 15px;
			margin-bottom: 24px;
			font-weight: 600;
		}
		.loading {
			display: none;
			background: #fff;
			text-align: center;
			padding: 15px;
			margin-bottom: 24px;
			&:before {
				content: "";
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid #18d26e;
				border-top-color: $border-top-color_1;
				-webkit-animation: animate-loading 1s linear infinite;
				animation: animate-loading 1s linear infinite;
			}
		}
		input {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			border-radius: 0;
			padding: 10px 15px;
			&:focus {
				border-color: $border-color_1;
			}
		}
		textarea {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			border-radius: 0;
			padding: 12px 15px;
			&:focus {
				border-color: $border-color_1;
			}
		}
		button[type=submit] {
			background: #4154f1;
			border: 0;
			padding: 10px 30px;
			color: $color_5;
			transition: 0.4s;
			border-radius: 4px;
			&:hover {
				background: #5969f3;
			}
		}
	}
}
.blog {
	padding: 40px 0 20px 0;
	.entry {
		padding: 30px;
		margin-bottom: 60px;
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
		.entry-img {
			max-height: 440px;
			margin: -30px -30px 20px -30px;
			overflow: hidden;
		}
		.entry-title {
			font-size: 28px;
			font-weight: bold;
			padding: 0;
			margin: 0 0 20px 0;
			a {
				color: $color_4;
				transition: 0.3s;
				&:hover {
					color: $color_2;
				}
			}
		}
		.entry-meta {
			margin-bottom: 15px;
			color: $color_29;
			ul {
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				align-items: center;
				padding: 0;
				margin: 0;
				li {
					+ {
						li {
							padding-left: 20px;
						}
					}
				}
			}
			i {
				font-size: 16px;
				margin-right: 8px;
				line-height: 0;
			}
			a {
				color: $color_30;
				font-size: 14px;
				display: inline-block;
				line-height: 1;
			}
		}
		.entry-content {
			p {
				line-height: 24px;
			}
			.read-more {
				-moz-text-align-last: right;
				text-align-last: right;
				a {
					display: inline-block;
					background: #4154f1;
					color: $color_5;
					padding: 6px 20px;
					transition: 0.3s;
					font-size: 14px;
					border-radius: 4px;
					&:hover {
						background: #5969f3;
					}
				}
			}
			h3 {
				font-size: 22px;
				margin-top: 30px;
				font-weight: bold;
			}
			blockquote {
				overflow: hidden;
				background-color: $background-color_4;
				padding: 60px;
				position: relative;
				text-align: center;
				margin: 20px 0;
				p {
					color: $color_1;
					line-height: 1.6;
					margin-bottom: 0;
					font-style: italic;
					font-weight: 500;
					font-size: 22px;
				}
				&::after {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					width: 3px;
					background-color: $background-color_5;
					margin-top: 20px;
					margin-bottom: 20px;
				}
			}
		}
		.entry-footer {
			padding-top: 10px;
			border-top: 1px solid #e6e6e6;
			i {
				color: $color_31;
				display: inline;
			}
			a {
				color: $color_8;
				transition: 0.3s;
				&:hover {
					color: $color_2;
				}
			}
			.cats {
				list-style: none;
				display: inline;
				padding: 0 20px 0 0;
				font-size: 14px;
				li {
					display: inline-block;
				}
			}
			.tags {
				list-style: none;
				display: inline;
				padding: 0;
				font-size: 14px;
				li {
					display: inline-block;
					+ {
						li {
							&::before {
								padding-right: 6px;
								color: $color_32;
								content: ",";
							}
						}
					}
				}
			}
			.share {
				font-size: 16px;
				i {
					padding-left: 5px;
				}
			}
		}
	}
	.entry-single {
		margin-bottom: 30px;
	}
	.blog-author {
		padding: 20px;
		margin-bottom: 30px;
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
		img {
			width: 120px;
			margin-right: 20px;
		}
		h4 {
			font-weight: 600;
			font-size: 22px;
			margin-bottom: 0px;
			padding: 0;
			color: $color_4;
		}
		.social-links {
			margin: 0 10px 10px 0;
			a {
				color: $color_24;
				margin-right: 5px;
			}
		}
		p {
			font-style: italic;
			color: $color_33;
		}
	}
	.blog-comments {
		margin-bottom: 30px;
		.comments-count {
			font-weight: bold;
		}
		.comment {
			margin-top: 30px;
			position: relative;
			.comment-img {
				margin-right: 14px;
				img {
					width: 60px;
				}
			}
			h5 {
				font-size: 16px;
				margin-bottom: 2px;
				a {
					font-weight: bold;
					color: $color_1;
					transition: 0.3s;
					&:hover {
						color: $color_2;
					}
				}
				.reply {
					padding-left: 10px;
					color: $color_4;
					i {
						font-size: 20px;
					}
				}
			}
			time {
				display: block;
				font-size: 14px;
				color: $color_34;
				margin-bottom: 5px;
			}
		}
		.comment.comment-reply {
			padding-left: 40px;
		}
		.reply-form {
			margin-top: 30px;
			padding: 30px;
			box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
			h4 {
				font-weight: bold;
				font-size: 22px;
			}
			p {
				font-size: 14px;
			}
			input {
				border-radius: 4px;
				padding: 10px 10px;
				font-size: 14px;
				&:focus {
					box-shadow: none;
					border-color: $border-color_2;
				}
			}
			textarea {
				border-radius: 4px;
				padding: 10px 10px;
				font-size: 14px;
				&:focus {
					box-shadow: none;
					border-color: $border-color_2;
				}
			}
			.form-group {
				margin-bottom: 25px;
			}
			.btn-primary {
				border-radius: 4px;
				padding: 10px 20px;
				border: 0;
				background-color: $background-color_5;
				&:hover {
					background-color: $background-color_6;
				}
			}
		}
	}
	.blog-pagination {
		color: $color_35;
		ul {
			display: flex;
			padding: 0;
			margin: 0;
			list-style: none;
		}
		li {
			margin: 0 5px;
			transition: 0.3s;
			a {
				color: $color_4;
				padding: 7px 16px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&:hover {
				background: #4154f1;
				a {
					color: $color_5;
				}
			}
		}
		li.active {
			background: #4154f1;
			a {
				color: $color_5;
			}
		}
	}
	.sidebar {
		padding: 30px;
		margin: 0 0 60px 20px;
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
		.sidebar-title {
			font-size: 20px;
			font-weight: 700;
			padding: 0 0 0 0;
			margin: 0 0 15px 0;
			color: $color_4;
			position: relative;
		}
		.sidebar-item {
			margin-bottom: 30px;
		}
		.search-form {
			form {
				background: #fff;
				border: 1px solid #ddd;
				padding: 3px 10px;
				position: relative;
				input[type=text] {
					border: 0;
					padding: 4px;
					border-radius: 4px;
					width: calc(100% - 40px);
				}
				button {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					border: 0;
					background: none;
					font-size: 16px;
					padding: 0 15px;
					margin: -1px;
					background: #4154f1;
					color: $color_5;
					transition: 0.3s;
					border-radius: 0 4px 4px 0;
					line-height: 0;
					i {
						line-height: 0;
					}
					&:hover {
						background: #5465f2;
					}
				}
			}
		}
		.categories {
			ul {
				list-style: none;
				padding: 0;
				li {
					+ {
						li {
							padding-top: 10px;
						}
					}
				}
				a {
					color: $color_4;
					transition: 0.3s;
					&:hover {
						color: $color_2;
					}
					span {
						padding-left: 5px;
						color: $color_26;
						font-size: 14px;
					}
				}
			}
		}
		.recent-posts {
			.post-item {
				+ {
					.post-item {
						margin-top: 15px;
					}
				}
			}
			img {
				width: 80px;
				float: left;
			}
			h4 {
				font-size: 15px;
				margin-left: 95px;
				font-weight: bold;
				a {
					color: $color_4;
					transition: 0.3s;
					&:hover {
						color: $color_2;
					}
				}
			}
			time {
				display: block;
				margin-left: 95px;
				font-style: italic;
				font-size: 14px;
				color: $color_26;
			}
		}
		.tags {
			margin-bottom: -10px;
			ul {
				list-style: none;
				padding: 0;
				li {
					display: inline-block;
				}
				a {
					color: $color_36;
					font-size: 14px;
					padding: 6px 14px;
					margin: 0 6px 8px 0;
					border: 1px solid #d7e6ff;
					display: inline-block;
					transition: 0.3s;
					&:hover {
						color: $color_5;
						border: 1px solid #4154f1;
						background: #4154f1;
					}
					span {
						padding-left: 5px;
						color: $color_37;
						font-size: 14px;
					}
				}
			}
		}
	}
}
.footer {
	background: #f6f9ff;
	padding: 0 0 30px 0;
	font-size: 14px;
	.footer-newsletter {
		padding: 50px 0;
		background: #f6f9ff;
		border-top: 1px solid #e1ecff;
		h4 {
			font-size: 24px;
			margin: 0 0 10px 0;
			padding: 0;
			line-height: 1;
			font-weight: 700;
			color: $color_4;
		}
		form {
			margin-top: 20px;
			background: #fff;
			padding: 6px 10px;
			position: relative;
			border-radius: 4px;
			border: 1px solid #e1ecff;
			input[type=email] {
				border: 0;
				padding: 8px;
				width: calc(100% - 140px);
			}
			input[type=submit] {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				border: 0;
				background: none;
				font-size: 16px;
				padding: 0 30px;
				margin: 3px;
				background: #4154f1;
				color: $color_5;
				transition: 0.3s;
				border-radius: 4px;
				&:hover {
					background: #5969f3;
				}
			}
		}
	}
	.footer-top {
		background: white url(../img/footer-bg.png) no-repeat right top;
		background-size: contain;
		border-top: 1px solid #e1ecff;
		border-bottom: 1px solid #e1ecff;
		padding: 60px 0 30px 0;
		.footer-info {
			margin-bottom: 30px;
			.logo {
				line-height: 0;
				margin-bottom: 15px;
				img {
					max-height: 40px;
					margin-right: 6px;
				}
				span {
					font-size: 30px;
					font-weight: 700;
					letter-spacing: 1px;
					color: $color_4;
					font-family: $font-family_3;
					margin-top: 3px;
				}
			}
			p {
				font-size: 14px;
				line-height: 24px;
				margin-bottom: 0;
				font-family: $font-family_3;
			}
		}
		.social-links {
			a {
				font-size: 20px;
				display: inline-block;
				color: $color_24;
				line-height: 0;
				margin-right: 10px;
				transition: 0.3s;
				&:hover {
					color: $color_4;
				}
			}
		}
		h4 {
			font-size: 16px;
			font-weight: bold;
			color: $color_4;
			text-transform: uppercase;
			position: relative;
			padding-bottom: 12px;
		}
		.footer-links {
			margin-bottom: 30px;
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				i {
					padding-right: 2px;
					color: $color_38;
					font-size: 12px;
					line-height: 0;
				}
				li {
					padding: 10px 0;
					display: flex;
					align-items: center;
					&:first-child {
						padding-top: 0;
					}
				}
				a {
					color: $color_8;
					transition: 0.3s;
					display: inline-block;
					line-height: 1;
					&:hover {
						color: $color_2;
					}
				}
			}
		}
		.footer-contact {
			p {
				line-height: 26px;
			}
		}
	}
	.copyright {
		text-align: center;
		padding-top: 30px;
		color: $color_4;
	}
	.credits {
		padding-top: 10px;
		text-align: center;
		font-size: 13px;
		color: $color_4;
	}
}
@media (max-width: 768px) {
	.section-header {
		p {
			font-size: 28px;
			line-height: 32px;
		}
	}
	.hero {
		text-align: center;
		h1 {
			font-size: 32px;
		}
		h2 {
			font-size: 20px;
		}
		h3 {
			font-size: 16px;
		}
		.hero-img {
			img {
				width: 100%;
			}
		}
	}
	.about {
		h1 {
			font-size: 32px;
		}
	}
	.features {
		.feture-tabs {
			h3 {
				font-size: 28px;
			}
		}
		.feature-icons {
			h3 {
				font-size: 28px;
			}
		}
	}
}
@media (max-width: 992px) {
	.breadcrumbs {
		margin-top: 57px;
	}
	.footer {
		.footer-top {
			background-position: center bottom;
		}
	}
}
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}
@media (max-width: 1366px) {
	.navbar {
		.dropdown {
			.dropdown {
				ul {
					left: -90%;
				}
				&:hover {
					>ul {
						left: -100%;
					}
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}
	.navbar {
		ul {
			display: none;
		}
	}
	.hero {
		height: auto;
		padding: 120px 0 60px 0;
		.hero-img {
			text-align: center;
			margin-top: 80px;
			img {
				width: 80%;
			}
		}
	}
}
@media (min-width: 1024px) {
	.hero {
		background-attachment: fixed;
	}
}
@media (max-width: 1199px) {
	.testimonials {
		.swiper-slide-active {
			opacity: 1;
		}
		.swiper-pagination {
			margin-top: 0;
		}
	}
}
@media (min-width: 1200px) {
	.testimonials {
		.swiper-slide-next {
			opacity: 1;
			transform: scale(1.12);
		}
	}
}
